// Fonts
$f-base: 'ProximaNova', sans-serif;

// Colors
$c-primary: #315efb;

$c-white: #fff;

$c-grey: #e3eaf0;
$c-grey-light: #f4f6f9;
$c-grey-text: #aeb4bb;

$c-yellow: #fce463;

$c-dark: #1d2734;
$c-black: #000000;

$trans: 0.25s ease;
