header.header
	.container
		h1.header__title Digital
			span opensource
		.header__desrc
			p Авторизируйтесь и оцените предложенные 
				|сообществом технологии и навыки или добавьте 
				|недостающие
			p Если за навык голосует 10+ человек, то он входит 
				| в состав грейда.

		img.header__img(src="static/img/logo.svg" alt="git")