script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
script(src="https://cdn.jsdelivr.net/intro.js/2.3.0/intro.min.js")
script(src="static/assets/assets.js")
script(src="static/js/main.js")

script(src="static/js/bundle.js")

//- ReactJS in dev-mode
if process.env.NODE_ENV === 'development'
  script(src="http://localhost:8080/static/bundle.js")
