<!DOCTYPE html>
html(lang="ru")

	include includes/_head.pug

	body
		include includes/_header.pug
		
		#grades

		div(style="display: none")
			section.grade-section
				.container.grade-section__wrap
					button(type="button").title.grade-section__title #[span]Backend
					.grade-section__slider
						.grade
							h4.grade__title.title.title--grey Junior
							.grade__block
								p.grade__item(data-effect="mfp-anim") ОПП
									span 84
								p.grade__item(data-effect="mfp-anim") CS-50
									span 44
								p.grade__item(data-effect="mfp-anim") Markdown
								p.grade__item(data-effect="mfp-anim") Markdown
								p.grade__item(data-effect="mfp-anim") Json
							a(href="").grade__btn.btn Добавить
						.grade
							h4.grade__title.title.title--grey Middle
							.grade__block
								p.grade__item(data-effect="mfp-anim") ОПП
									span 84
								p.grade__item(data-effect="mfp-anim") CS-50
									span 44
								p.grade__item(data-effect="mfp-anim") Markdown
								p.grade__item(data-effect="mfp-anim") Java doc’s
								p.grade__item(data-effect="mfp-anim") Json
								p.grade__item(data-effect="mfp-anim") Json
								p.grade__item(data-effect="mfp-anim") Jquery
							a(href="").grade__btn.btn Добавить
						.grade
							h4.grade__title.title.title--grey Senior
							.grade__block
								p.grade__item(data-effect="mfp-anim") ОПП
									span 84
								p.grade__item(data-effect="mfp-anim") CS-50
									span 44
								p.grade__item(data-effect="mfp-anim") Markdown
								p.grade__item(data-effect="mfp-anim") Java doc’s
								p.grade__item(data-effect="mfp-anim") Json
								p.grade__item(data-effect="mfp-anim") Json
								p.grade__item(data-effect="mfp-anim") Jquery
							a(href="").grade__btn.btn Добавить

			section.grade-section
				.container.grade-section__wrap
					button(type="button").title.grade-section__title #[span]Frontend
					.grade-section__slider
						.grade
							h4.grade__title.title.title--grey Junior
							.grade__block
								p.grade__item(data-effect="mfp-anim") ОПП
									span 84
								p.grade__item(data-effect="mfp-anim") CS-50
									span 44
								p.grade__item(data-effect="mfp-anim") Markdown
								p.grade__item(data-effect="mfp-anim") Markdown
								p.grade__item(data-effect="mfp-anim") Json
							a(href="").grade__btn.btn Добавить
						.grade
							h4.grade__title.title.title--grey Middle
							.grade__block
								p.grade__item(data-effect="mfp-anim") ОПП
									span 84
								p.grade__item(data-effect="mfp-anim") CS-50
									span 44
								p.grade__item(data-effect="mfp-anim") Markdown
								p.grade__item(data-effect="mfp-anim") Java doc’s
								p.grade__item(data-effect="mfp-anim") Json
								p.grade__item(data-effect="mfp-anim") Json
								p.grade__item(data-effect="mfp-anim") Jquery
							a(href="").grade__btn.btn Добавить
						.grade
							h4.grade__title.title.title--grey Senior
							.grade__block
								p.grade__item(data-effect="mfp-anim") ОПП
									span 84
								p.grade__item(data-effect="mfp-anim") CS-50
									span 44
								p.grade__item(data-effect="mfp-anim") Markdown
								p.grade__item(data-effect="mfp-anim") Java doc’s
								p.grade__item(data-effect="mfp-anim") Json
								p.grade__item(data-effect="mfp-anim") Json
								p.grade__item(data-effect="mfp-anim") Jquery
							a(href="").grade__btn.btn Добавить

			section.grade-section
			.container.grade-section__wrap
				button(type="button").title.grade-section__title #[span]Backend
				.grade-section__slider
					.grade
						h4.grade__title.title.title--grey Junior
						.grade__block
							p.grade__item(data-effect="mfp-anim") ОПП
								span 84
							p.grade__item(data-effect="mfp-anim") CS-50
								span 44
							p.grade__item(data-effect="mfp-anim") Markdown
							p.grade__item(data-effect="mfp-anim") Markdown
							p.grade__item(data-effect="mfp-anim") Json
						a(href="").grade__btn.btn Добавить
					.grade
						h4.grade__title.title.title--grey Middle
						.grade__block
							p.grade__item(data-effect="mfp-anim") ОПП
								span 84
							p.grade__item(data-effect="mfp-anim") CS-50
								span 44
							p.grade__item(data-effect="mfp-anim") Markdown
							p.grade__item(data-effect="mfp-anim") Java doc’s
							p.grade__item(data-effect="mfp-anim") Json
							p.grade__item(data-effect="mfp-anim") Json
							p.grade__item(data-effect="mfp-anim") Jquery
						a(href="").grade__btn.btn Добавить
					.grade
						h4.grade__title.title.title--grey Senior
						.grade__block
							p.grade__item(data-effect="mfp-anim") ОПП
								span 84
							p.grade__item(data-effect="mfp-anim") CS-50
								span 44
							p.grade__item(data-effect="mfp-anim") Markdown
							p.grade__item(data-effect="mfp-anim") Java doc’s
							p.grade__item(data-effect="mfp-anim") Json
							p.grade__item(data-effect="mfp-anim") Json
							p.grade__item(data-effect="mfp-anim") Jquery
						a(href="").grade__btn.btn Добавить

		#popup.grade-popup.mfp-hide
			h2 Markdown
			p Markdown — облегчённый язык разметки, созданный с целью написания
				| наиболее читаемого и удобного для правки текста, но пригодного для
				| преобразования в языки для продвинутых публикаций.

			h4 Полезные материалы
			ul
				li 
					a(href="") link.markdown1
				//- li 
				//- 	a(href="") link.markdown1
				li 
					a(href="") link.markdown1markdown2

		include includes/_footer.pug

		include includes/_js.pug