<!DOCTYPE html>
html(lang="ru")

	include includes/_head.pug

	body
		include includes/_header.pug

		#grades

		include includes/_footer.pug

		include includes/_js.pug
		include includes/_analytics.pug
