.loader {
	width: 30px;
  height: 30px;
  border: 3px solid;
  border-top: 3px solid transparent;
  border-radius: 30px;
  margin: 50px auto;
  color: $c-primary;
  position: relative;
  animation: rotate .4s linear infinite;
}

@keyframes rotate{
	from{
		transform:rotate(0);
	}
	to {
		transform:rotate(360deg);
	}
}